@charset "UTF-8";

.body .my-fs-medium{
  font-size: 5rem;
}

.chalk-highlight{
  font-family: 'Bad Script', cursive;

  font-size: 1.6rem;
}

.chalk-highlight-small{
  font-family: 'Bad Script', cursive;

  font-size: 1.2rem;
}

.mybtn {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1.2px solid white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-pt-3,
.my-py-3 {
  padding-top: 1rem !important;
}

.my-pb-3,
.my-py-3 {
  padding-bottom: 1rem !important;
}

.my-navbar-pad {
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

body{
font-family: 'Montserrat', sans-serif;
}

.navbar{
font-family: 'Montserrat', sans-serif;
}

.my-text-primary{
  color: #212529 !important;
}

.my-bg-primary-soft {
  background-color: #ffffff !important;
}

.header-social-icons .mysocialicon{
    font-size: 2.5rem; !important;
    margin: 0.5rem;
    color: white;
}

.my-img-left{
    height: 270px;
    width: 420px;
}

.my-img-icon{
  height: 70px;
  width: 70px;
  background-color : transparent;
  padding: none;
  margin: auto;
}

/* The heart of the matter */
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-4 {
     display: inline-block;
     float: none;
}

.row-fluid .col-lg-3 {
     display: inline-block;
     float: none;
}

.row-fluid .col-md-6 {
     display: inline-block;
     float: none;
}

.g-ytsubscribe{
  background-color: #212529 !important;
}

.my-insta-post{
  height: 375px;
  width: 75px;
  margin: 1px;
  padding: 1px;
  border: 1.2px solid white;
  border-radius: 10px;
}

.myvideopadding{
  padding: 50px;
}

.myheader {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.myheader video {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 100%;
  min-height: 100%; */
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.myheader .container {
  position: relative;
  z-index: 2;
}

.myheader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .myheader {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .myheader video {
    display: none;
  }
}

.tpc_description{
  text-align: left;
}


.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bookimage{
  height: 230px;
  width: 150px;
}

.blog_main_image{
  height: 230px;
  width: 150px;
  align-self: center;

}

.my-extra-small-font{
  font-size: 0.7rem;
  text-align: left;
}



.my-card-hover .accordion-faq .accordion-faq-item .card-header:hover{
    /* border-width: 1px;
    border-style: solid;
    border-color: #eff3f9; */
    z-index: 5;
    transform: scale(1.02);
    color: #485260;
    text-decoration: none;
    background-color: #eff3f9;
}



/* .carousel-inner .carousel-item {
    position: relative;
    display: none;
    -webkit-transition: 5.0s ease-in-out left;
    -moz-transition: 5.0s ease-in-out left;
    -o-transition: 5.0s ease-in-out left;
    transition: 5.0s ease-in-out left;
} */

/*
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Sacramento', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shadows Into Light', cursive;
*/
