djangoenv/
db.sqlite3
__pychahe__/
Staticfiles/
.vscode/
.env
shivankgoel_com_key.txt
*.log
Certificates/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
