



<section id='calendar' class="bg-white py-5">


  <div class="container">
    <div class="text-uppercase-expanded mb-2">Book My Calendar</div>
    <hr class="mt-0 mb-5" />

    <div class="calendly-inline-widget" data-url="https://calendly.com/goelshivank12" style="position: relative;min-width:320px;height:750px;" ></div>


    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

  {% include 'homepage/slantbottom.html' with color='light' %}

</section>
