{%extends 'homepage/base.html'%}


{%block body%}


{% load static %}
{% static "homepage/img/images/ps3.png" as mainpic %}

{% include 'homepage/navbar.html' %}

<header class="page-header page-header-dark bg-img-cover overlay overlay-70" style='background-image: url("{{mainpic}}")'>
  <div class="page-header-content py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 text-center">
          <div data-aos="fade-up">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <h1 class="page-header-title">I speak from the heart!</h1>
            <p class="page-header-text">Invite me to your next event!</p>
          </div>
      <a class="btn btn-marketing rounded-pill mybtn button" data-aos="fade-up" data-aos-delay="100" href="{% url 'contact' %}">Invite Me</a>
        </div>

      </div>

    </div>
  </div>

  {% include 'homepage/roundbottom.html' %}
</header>

<!-- <header class="page-header page-header-dark bg-img-cover overlay overlay-80" style='background-image: url("https://source.unsplash.com/faEfWCdOKIg/1500x900")'>
  <div class="page-header-content py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 text-center">
          <div data-aos="fade-up">
            <h1 class="page-header-title">We are a branding and design studio</h1>
            <p class="page-header-text">We are a group of creatives and developers who design, build, and optimize brands and digital experiences.</p>
          </div>
          <button class="btn btn-marketing rounded-pill btn-primary" data-aos="fade-up" data-aos-delay="100">Learn More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
      <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
  </div>
</header> -->

<section id="publicspeakingevents" class="bg-white py-10">
  <div class="container">

    <div class="text-uppercase-expanded  mb-2">Previous Events Where I was Invited</div>
    <hr class="mt-0 mb-5" />



    <div class="accordion accordion-faq mb-5" id="authAccordion">
      {% for event in events%}
      <div class="card accordion-faq-item">
        <a class="card-header" id="authHeading-{{forloop.counter}}" data-toggle="collapse" data-target="#authCollapse-{{forloop.counter}}" aria-expanded="true" aria-controls="authCollapseOne" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">
            <div class="container">

              <div class="row">

                <div class="col">
                  <div class="row">
                    {{event.title}}
                  </div>
                  <div class="row text-gray-600">
                    {{event.venue}}
                  </div>
                  <div class="row text-gray-500 small">
                    Date : {{event.date}}
                  </div>
                </div>

              </div>

            </div>
            <i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i>
          </div>
        </a>


        <div class="collapse collapsed" id="authCollapse-{{forloop.counter}}" aria-labelledby="authHeading-{{forloop.counter}}" data-parent="#authAccordion">
          <div class="card-body border-bottom">
            <div class="container">

              <p>
                {{event.description}}
              </p>

              {% ifnotequal event.staticimages|length 0 %}
              <div class="mt-5">
                <div class="text-uppercase-expanded small mb-2">Event Images</div>
                <div style="overflow: auto" class="pt-4">
                  <div class=" span12 row-fluid">
                    {% for image in event.staticimages %}
                    <div class="col-lg-4">
                      <img class=" img-fluid shadow-lg rounded-lg my-img-left" src="{% static image %}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endifnotequal %}

              {% ifnotequal event.images|length 0 %}
              <div class="mt-5">
                <div class="text-uppercase-expanded small mb-2">Event Images</div>
                <div style="overflow: auto" class="pt-4">
                  <div class=" span12 row-fluid">
                    {% for image in event.images %}
                    <div class="col-lg-4">
                      <img class=" img-fluid shadow-lg rounded-lg my-img-left" src="{% static image %}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endifnotequal %}


              {% ifnotequal event.youtubelink '' %}
              <div class="mt-5">
                <div class="text-uppercase-expanded small mb-2">Event Video</div>
                <div class="myvideopadding">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{event.youtubelink}}?rel=0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              {% endifnotequal %}



            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  {% include 'homepage/slantbottom.html'  with color='light'  %}
</section>




{% include 'homepage/footer.html' %}

{% endblock %}
