<div class="container">
  <div class="icon-list-social mb-5">
      <a class="icon-list-social-link" href="https://www.linkedin.com/in/goelshivank12/">
        <i class="fab fa-linkedin mysocialicon"></i>
    </a>
      <a class="icon-list-social-link" href="https://github.com/shivankgoel">
        <i class="fab fa-github mysocialicon"></i>
    </a>
        <a class="icon-list-social-link" href="https://www.youtube.com/techlifewithshivank">
        <i class="fab fa-youtube mysocialicon"></i>
    </a>

    <a class="icon-list-social-link" href="https://www.instagram.com/techlife_with_shivank/">
        <i class="fab fa-instagram mysocialicon"></i>
    </a>
    <a class="icon-list-social-link" href="https://www.facebook.com/techlifewithshivank/">
        <i class="fab fa-facebook mysocialicon"></i>
    </a>

    <a class="icon-list-social-link" href="https://twitter.com/shivankgoel">
        <i class="fab fa-twitter mysocialicon"></i>
    </a>
</div>
</div>
