<div class="card mb-n5 z-1">
    <div class="card-body p-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h4>Get the latest news</h4>
                <p class="lead text-gray-500 mb-0">Stay in the loop with the latest stories and breaking headlines!</p>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-2">
                    <input class="form-control form-control-solid" type="text" placeholder="youremail@example.com" aria-label="Recipient's username" aria-describedby="button-addon2" />
                    <div class="input-group-append"><button class="btn btn-primary" id="button-addon2" type="button">Sign up</button></div>
                </div>
                <div class="small text-gray-500">You can unsubscribe at any time.</div>
            </div>
        </div>
    </div>
</div>
